.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }
  
  .title {
    font-size: 26px;
  }
  
  .count {
    font-size: 18px;
    font-weight: 700;
    color: #9e9e9e;
  }
  
  .repos-item {
    margin-bottom: 18px;
  }