.headline {
  display: flex;
  justify-content: space-between;
}

.icon-list {
  display: flex;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 2px;
  }

.logo {
  width: 174px;
  height: 35px;
}

.stories {
    display: flex;
    justify-content: space-between;
}